@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Raleway";
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.search-bar {
  background-color: #E9E9E9;
  border-radius: 8px;
  padding: 9px 20px;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  color: #575757;
  border: 2px solid transparent;
  transition: all 0.15s ease-in;
}
.search-bar:focus-within {
  border: 2px solid rgba(252, 187, 20, 0.6);
}
.search-bar:focus-within .icon {
  color: #FCBB14;
}
.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-family: inherit;
  font-weight: 500;
}

.main-btn {
  border: none;
  outline: none;
  background-color: #FCBB14;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}
.main-btn .icon {
  font-weight: 500;
  font-size: 1.2rem;
}

.navbar {
  color: #575757;
  padding: 1rem 0;
  border-bottom: 1px solid #E9E9E9;
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.8rem;
}
.navbar .container .logo {
  margin-right: 4.8rem;
  cursor: pointer;
}
.navbar .container .search-bar {
  flex: 1;
}
.navbar .container ul {
  list-style-type: none;
  display: flex;
  gap: 1.4rem;
}
.navbar .container ul li {
  cursor: pointer;
  transition: color 0.12s ease-in-out;
}
.navbar .container ul li:hover {
  color: #000;
}
.navbar .container ul li span {
  display: grid;
  place-items: center;
}
.navbar .container ul li span .icon {
  font-size: 1.3rem;
}
.navbar .container .user-dp {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  position: relative;
}
.navbar .container .user-dp img {
  width: 36px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0.3rem;
}
.navbar .container .user-dp p {
  font-size: 0.85rem;
  text-transform: capitalize;
  font-weight: 600;
}
.navbar .container .user-dp span {
  display: grid;
  place-items: center;
}
.navbar .container .user-dp span .icon {
  font-size: 1rem;
}
.navbar .container .user-dp .dp {
  position: absolute;
  top: calc(100% + 1.4rem);
  left: 0;
  width: 200px;
  background-color: #fff;
  display: block;
  border-radius: 8px;
  padding: 0.9rem;
  box-shadow: 0 0 6px rgba(87, 87, 87, 0.2);
}
.navbar .container .user-dp .dp li {
  font-size: 0.85rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.navbar .container .user-dp .dp li a {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.navbar .container .user-dp .dp li .icon {
  font-size: 1.2rem;
}
.navbar .container .user-dp .dp li:not(:last-of-type) {
  margin-bottom: 0.8rem;
}
.navbar .container .user-dp .dp li:last-of-type {
  border-top: 1px solid #E9E9E9;
  padding-top: 0.5rem;
}

.dp-input {
  border-radius: 4px;
  border: 1px solid rgba(87, 87, 87, 0.5);
  padding: 0.4rem 0.8rem;
  display: flex;
  gap: 0.5rem;
  color: #575757;
  position: relative;
}
.dp-input:hover {
  border: 1px solid #575757;
}
.dp-input input,
.dp-input textarea {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0.3rem 0;
}
.dp-input textarea {
  resize: none;
}
.dp-input .icon-container {
  display: grid;
  place-items: center;
  cursor: pointer;
}
.dp-input .icon-container .icon {
  font-size: 1.2rem;
}
.dp-input .label {
  position: absolute;
  top: 0;
  left: 0.9rem;
  background-color: #fff;
  transform: translateY(-50%);
  padding: 0 6px;
  font-size: 0.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dp-input ul {
  position: absolute;
  top: calc(100% + 0.6rem);
  left: 0;
  border-radius: 6px;
  list-style-type: none;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  display: block;
  border-radius: 8px;
  padding: 0.9rem;
  box-shadow: 0 0 6px rgba(87, 87, 87, 0.2);
  max-height: 240px;
  overflow: auto;
}
.dp-input ul::-webkit-scrollbar {
  width: 6px;
}
.dp-input ul::-webkit-scrollbar-track {
  background: #E9E9E9;
}
.dp-input ul::-webkit-scrollbar-thumb {
  background-color: rgb(202, 202, 202);
  border-radius: 4px;
}
.dp-input ul li {
  font-size: 0.85rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  cursor: pointer;
  transition: color 0.12s ease-in-out;
  padding: 0.5rem 0.6rem;
  border-radius: 6px;
}
.dp-input ul li:hover {
  color: #000;
  background: rgba(233, 233, 233, 0.4);
}
.dp-input ul li a {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.dp-input ul li .icon {
  font-size: 1.2rem;
}
.dp-input ul li:not(:last-of-type) {
  margin-bottom: 0.4rem;
}

.announce {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.announce main {
  flex: 1;
  display: grid;
  place-items: center;
}

.post {
  width: 80%;
}
.post .btn-container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.2rem;
}
.post .btn-container button {
  padding: 0.6rem 3rem;
}
.post .container {
  width: 100%;
  background: #fff;
  padding: 2.1rem;
  border-radius: 1rem;
  box-shadow: 0 0 6px rgba(87, 87, 87, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.3rem;
}
.post .container .main-post:last-of-type {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post .container .main-post header {
  margin-bottom: 2rem;
}
.post .container .main-post header h1 {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}
.post .container .main-post header p {
  font-size: 0.95rem;
  font-weight: 500;
}
.post .container .main-post article .double-form-control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 3rem;
}
.post .container .main-post article .double-form-control .dp-input {
  width: 100%;
}
.post .container .main-post article .double-form-control .form-control label {
  font-size: 0.85rem;
  font-weight: 500;
  display: block;
}
.post .container .main-post article .double-form-control .form-control .outter {
  margin-bottom: 0.4rem;
}
.post .container .main-post article .double-form-control .form-control .choices {
  display: flex;
  gap: 1.2rem;
}
.post .container .main-post article .double-form-control .form-control .choices article {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.post .container .main-post article .double-form-control .form-control .choices input[type=radio] {
  accent-color: #000;
  transform: scale(1.1);
}

.image-select {
  border-radius: 4px;
  border: 1px dashed rgba(87, 87, 87, 0.5);
  display: flex;
  place-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.4rem;
  position: relative;
  color: inherit;
  padding: 3rem 1.2rem;
}
.image-select .img-container {
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.image-select .img-container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-select .img-container .icon {
  position: absolute;
  top: 4px;
  right: 4px;
  color: rgb(187, 187, 187);
  display: none;
}
.image-select .img-container:hover {
  opacity: 0.8;
}
.image-select .img-container:hover .icon {
  display: block;
}
.image-select .title {
  position: absolute;
  top: 0;
  left: 0.9rem;
  background-color: #fff;
  transform: translateY(-50%);
  padding: 0 6px;
  font-size: 0.8rem;
}
.image-select .add {
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid rgba(87, 87, 87, 0.5);
  display: grid;
  place-items: center;
  color: rgba(87, 87, 87, 0.9);
  cursor: pointer;
}
.image-select .add span {
  display: grid;
  place-items: center;
}

@media (max-width: 764px) {
  .container {
    width: 100%;
  }
  .post {
    margin-top: 1.8rem;
    width: 92%;
  }
  .post .container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .post .container .main-post article .double-form-control {
    grid-template-columns: 1fr;
  }
  .post .btn-container {
    margin-bottom: 1.2rem;
  }
  .post .btn-container button {
    display: block;
    width: 100%;
  }
  .image-select {
    margin-top: 3rem;
  }
  .navbar .logo {
    display: none;
  }
  .navbar .icons-list {
    display: none;
  }
  .navbar .container .user-dp p,
.navbar .container .user-dp span {
    display: none;
  }
  .navbar .container .user-dp .dp {
    left: -400%;
  }
  .navbar button {
    display: none;
  }
  .discussions main .container .main-discussions-body {
    grid-template-columns: 1fr !important;
  }
}
.discussions {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.discussions main {
  flex: 1;
  padding: 2.6rem 0;
  display: grid;
  place-items: center;
}
.discussions main .container {
  max-height: 700px;
  display: flex;
  flex-direction: column;
}
.discussions main .container .main-discussions-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  overflow: auto;
  flex: 1;
}
.discussions main .container .main-discussions-body::-webkit-scrollbar {
  width: 6px;
}
.discussions main .container .main-discussions-body::-webkit-scrollbar-track {
  background: #E9E9E9;
}
.discussions main .container .main-discussions-body::-webkit-scrollbar-thumb {
  background-color: rgb(202, 202, 202);
  border-radius: 4px;
}
.discussions main .container .main-discussions-body .discussions-list {
  height: 100%;
  overflow: auto;
  padding-right: 1rem;
}
.discussions main .container .main-discussions-body .discussions-list::-webkit-scrollbar {
  width: 6px;
}
.discussions main .container .main-discussions-body .discussions-list::-webkit-scrollbar-track {
  background: #E9E9E9;
}
.discussions main .container .main-discussions-body .discussions-list::-webkit-scrollbar-thumb {
  background-color: rgb(202, 202, 202);
  border-radius: 4px;
}
.discussions main .container .main-discussions-body .messaging {
  background: #fff;
  padding: 1.2rem 1.6rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(87, 87, 87, 0.1);
  border: 1px solid rgba(87, 87, 87, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
  overflow: hidden;
}
.discussions main .container .main-discussions-body .messaging header {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.discussions main .container .main-discussions-body .messaging header img {
  height: 70px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.discussions main .container .main-discussions-body .messaging header .user-info p {
  font-weight: 600;
  font-size: 1.1rem;
}
.discussions main .container .main-discussions-body .messaging header .user-info span {
  font-size: 0.9rem;
  font-weight: 500;
  color: #575757;
}
.discussions main .container .main-discussions-body .messaging .messaging-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.4rem;
  margin-top: 1.6rem;
  max-height: 440px;
  overflow: auto;
}
.discussions main .container .main-discussions-body .messaging .messaging-body .message-container {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  max-width: 80%;
}
.discussions main .container .main-discussions-body .messaging .messaging-body .message-container article {
  border-radius: 4px;
  font-size: 0.85rem;
  font-weight: 500;
}
.discussions main .container .main-discussions-body .messaging .messaging-body .message-container.sender {
  color: #fff;
  align-self: flex-end;
}
.discussions main .container .main-discussions-body .messaging .messaging-body .message-container.sender article {
  padding: 0.3rem 0.9rem;
  background-color: #FCBB14;
}
.discussions main .container .main-discussions-body .messaging .messaging-body .message-container.receiver {
  align-self: flex-start;
  color: #575757;
}
.discussions main .container .main-discussions-body .messaging .messaging-body .message-container.receiver article {
  padding: 0.3rem 0.9rem;
  background-color: #E9E9E9;
}
.discussions main .container .main-discussions-body .messaging .messaging-body .message-container img {
  height: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.discussions main .container .main-discussions-body .messaging .message-input {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  background-color: rgba(233, 233, 233, 0.9);
  border: 1px solid rgba(87, 87, 87, 0.2);
  color: #575757;
  padding: 0.4rem 1.4rem;
  border-radius: 6px;
  font-weight: 500;
  margin-top: 1.6rem;
}
.discussions main .container .main-discussions-body .messaging .message-input input {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  flex: 1;
}
.discussions main .container .main-discussions-body .messaging .message-input .icon {
  font-size: 1.2rem;
  cursor: pointer;
  color: rgba(87, 87, 87, 0.9);
}
.discussions main .container .main-discussions-body .messaging .message-input .icon:hover {
  color: #333;
}
.discussions main .container h1 {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 1.4rem;
}
.discussions main .container h1::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: rgba(87, 87, 87, 0.3);
}

.message-card {
  background-color: #fff;
  padding: 1.2rem 1.4rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(87, 87, 87, 0.1);
  transition: box-shadow 0.1s ease-out;
  border: 1px solid rgba(87, 87, 87, 0.2);
  cursor: pointer;
  position: relative;
}
.message-card:hover {
  box-shadow: 0 0 14px rgba(87, 87, 87, 0.2);
}
.message-card:not(:last-of-type) {
  margin-bottom: 1.1rem;
}
.message-card .new {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #0075ff;
}
.message-card header {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.message-card header img {
  height: 44px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.message-card header .message-info p {
  font-weight: 500;
  font-size: 0.9rem;
}
.message-card header .message-info span {
  font-size: 0.85rem;
  color: #575757;
}
.message-card header .message-info .message-body {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}/*# sourceMappingURL=styles.css.map */